* {
  margin: 0px;
  padding: 0;
}
body {
  font-family: "Audiowide", sans-serif;
  background: #052a3d;
  color: #b3cdd7;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.logo {
  color: #19d1e6;
  display: flex;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: relative;
}
.menu {
  display: flex;
  gap: 10px;
}
.hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: radial-gradient(circle at top, #052a3d, #117192, #614943);
}
.hero-conteiner {
  text-align: center;
  margin-top: 3em;
}
.intro {
  color: #19d1e6;
  margin-bottom: 10px;
}
.hero-conteiner h2 {
  font-size: 3em;
  margin-bottom: 10px;
}
/*sobre*/
#sobre {
  min-height: 35vh;
  padding: 10px;
}
#sobre h1 {
  color: #19d1e6;
  margin-top: 25px;
  text-align: start;
  padding-left: 28%;
}
#img {
  display: flex;
  height: 40vh;
  border: 5px solid #614943;
  border-radius: 5px;
}
article {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 15px;
}
.sobre-texto {
  color: #b3cdd7;
  margin-top: 20px;
  line-height: 1.6;
  text-align: center;
}
.sobre-dados {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}
.dados {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.sobre-dados div {
  text-align: center;
}
.sobre-dados strong {
  display: block;
  font-size: 2em;
  color: #614943;
}
.sobre-dados span {
  font-size: 1em;
  color: #b3cdd7;
}
/*Projetos*/
#projetos {
  min-height: 45vh;
  text-align: center;
  padding: 10px;
}
#projetos h1 {
  color: #19d1e6;
  margin-top: 25px;
}
.projetos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 25px 0px 25px 0px;
}
.projetos-container > * {
  flex: 1 1 250px;
}
.projeto-card {
  background: #117192;
  padding: 20px;
  border-radius: 10px;
}
.projeto-card img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}
#projetos h2 {
  color: #19d1e6;
  margin-bottom: 1em;
}
.projeto-card h3 {
  color: #17e7fe;
  margin: 0.7em 0em 0.7em 0em;
}
.projeto-card p {
  margin-bottom: 25px;
}
.projeto-card a {
  margin-top: 0.7em;
  color: #19d1e6;
  font-weight: bold;
  border: 2px solid #19d1e6;
  padding: 10px;
  border-radius: 10px;
}
a:hover {
  background: #19d1e6;
  color: #052a3d;
}
/*habilidades*/
#habilidades {
  min-height: 50vh;
  text-align: center;
}
#habilidades p {
  color: #9ca3af;
  margin: 20px;
}
#habilidades h2 {
  color: #34d399;
  margin-bottom: 20px;
}
.habilidades-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 20px;
}
.habilidades-card {
  background-color: #020617;
  border: 2px solid #1f2933;
  border-radius: 10px;
  padding: 20px 20px;
}
.habilidades-card:hover {
  border: 2px solid #34d399;
}
.habilidades-card span {
  padding: 5px 14px;
  border-radius: 10px;
  background: #020617;
  border: 1px solid #34d399;
  color: #34d399;
  font-size: 1em;
}
.habilidades-card h3 {
  margin-bottom: 15px;
}

@media (max-width: 864px) {
  #sobre h1 {
    text-align: center;
    padding-left: 5px;
  }
  article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .sobre-dados {
    width: 100%;
  }
}
